body {
    font-weight: bold;
}

.badge-img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.image-box {
    background-color: white;
    height: auto;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
}

#checked-icon {
    height: 30px;
    width: auto;
}

.content-img {
    width: 100%;
    max-width: 100px;
    transform: rotate(45deg);
    position: absolute;
    margin-right: -50px;
}